<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.GWlogin2023_fr">
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:windowSoftInputMode="adjustPan"
            android:exported="false">
        </activity>
        <activity
            android:name=".RegistrationScreen"
            android:exported="false" />
        <activity
            android:name=".GameScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".AccountAdminScreen"
            android:exported="false" />

    </application>

</manifest>
